body {
    background-color: hsl(192, 21%, 94%);
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(192, 21%, 84%);
}

::-webkit-scrollbar-thumb {
    background: rgb(135, 187, 52);
}

#accueil {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 4.0s;
    background-color: hsl(192, 21%, 84%);
}

#illustration {
width: 100%;
height: 100vh;
text-align: center;
}

#illustration img {
    height: 70%;
}

#illustration h1 {
color: rgb(135, 187, 52);
}

#illustration h3 {
    color: rgb(160, 160, 160);
    }

#imgOver {
    margin-top: 32px;
    animation: myanim3 5.0s ease-in-out infinite;
}

@keyframes myanim3 {
    50% {
        transform: scale(0.98);
    }
}

#navbar {
    text-align: center;
    width: 100%;
}

#projets {
    width: 75%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#projets table {
    height: 90vh;
    text-align: center;
}

#txtProj {
    font-size: 1.3rem;
}

#modal1 {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: hsla(192, 21%, 94%, 0.9);
    display: none;
}

#modal2 {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: hsla(192, 21%, 94%, 0.9);
    display: none;
}

#modal3 {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: hsla(192, 21%, 94%, 0.9);
    display: none;
}

.wrapper {
    width: 360px;
    height: 360px;
}

#contact {
    width: 75%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#contact table{
    width: 100%;
}

.left {
    width: 50%;
    text-align: right;
}

.right {
    width: 50%;
    text-align: left;
}

.parent_div1_boutton {
    background-color:rgb(0, 0, 0);
    color: #45670F;
}

.link {
    font-size: 1.2rem;
    color: #45670F;
}

.linkoff {
    font-size: 1.2rem;
    color: rgb(75, 75, 75);
    text-decoration: none;
}

.link:hover {
    font-size: 1.2rem;
    color: hsl(26, 33%, 15%);;
}

.linkMail {
    font-size: 1.2rem;
    color: #45670F;
    text-decoration: none;
}

.linkMail:hover {
    font-size: 1.2rem;
    color: hsl(26, 33%, 15%);
    text-decoration: none;
}

p {
    font-size: 1.2rem;
    color: #000000;
}

#math {
    color: rgb(135, 187, 52);
}

.box-area {
display: none;
}

@media screen and (min-width: 600px)
{
    .box-area {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 90%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    pointer-events: none;
    }
    
    .box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background-color: rgba(210, 128, 210, 0.5);
    animation: animate 20s linear infinite;
    bottom: -150px;
    }
    
    .box-area li:nth-child(1) {
        left: 86%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    .box-area li:nth-child(2) {
        left: 12%;
        width: 30px;
        height: 30px;
        animation-delay: 1.5s;
        animation-duration: 10s;
    }
    .box-area li:nth-child(3) {
        left: 70%;
        width: 100px;
        height: 100px;
        animation-delay: 5.5s;
    }
    .box-area li:nth-child(4) {
        left: 42%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 15s;
    }
    .box-area li:nth-child(5) {
        left: 65%;
        width: 40px;
        height: 40px;
        animation-delay: 0s;
    }
    .box-area li:nth-child(6) {
        left: 15%;
        width: 110px;
        height: 110px;
        animation-delay: 3.5s;
    }
    @keyframes animate{
        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
        }
        100%{
            transform: translateY(-800px) rotate(360deg);
            opacity: 0;
        }
    }
}